/*Kevin Tresemer
	AVF 1310*/
    


@media screen and (max-width: 480px) {
  img {
	max-width: 50%;
      }
}

@media screen and (min-width: 1300px) {
  img {
	max-width: 100%;
      }
}

#homeButtons {
        background-color: lightblue;
        border: 1px solid black;
        margin: 5px;
        padding: 5px;
        border-radius: 12px;
}

h3{
        font-size: 1.5em;
        margin: 0 0 1em 0;
        color: white;
        font-weight: normal;
}


